/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter-Regular";
    src: url('../public/fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: "Inter-Semibold";
    src: url('../public/fonts/Inter-SemiBold.ttf');
}